<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

        <a class="navbar-brand" href="#home">MyDRTV</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                    <a class="nav-link" href="/home">Home</a>
            </ul>
        </div>
       
        <div class="frm-container">
            <form class="form-inline" id="frmSearch">
                <input class="form-control mr-sm-2" type="search" id="txtSearchVid" name="title" placeholder="Find movies or TV programs...  " aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="button" id="btnSearch">Search</button>
            </form>
        </div>
       
        <ul class="navbar-nav">
             <li class="nav-item"><a class="nav-link" href="/profile" role="button">Account</a></li>

             <li class="nav-item" id="btnLogOut"><a class="nav-link" href="#" role="button">Log out</a></li>
            </ul>
        </ul>
      
    </nav>
    

    <nav class="bottomnav navbar navbar-expand-lg navbar navbar-dark">
            <div class="type-nav">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" href="/home" id="btnHome" class="nav-link btn btn-secondary">Home</a>
                        <a role="button" href="/movies" id="btnMovies" class="nav-link btn btn-secondary">Movies</a>
                        <a role="button" href="/tv-programs" id="btnPrograms" class="nav-link btn btn-secondary">Tv programs</a>
                    </div>
                </div>
                <div class=" bottom-bar">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" id="btnYear">Year</button>
                                    <button class="dropdown-item" id="btnRating" >Rating</button>
                                    <button class="dropdown-item" id="btnTitleAsc" >Title ASC</button>
                                    <button class="dropdown-item" id="btnTitleDesc">Title DESC</button>
                                </div>
                            </div>
                    </div>
             
    </nav>
<div class="radio-container">
    <form id="frmRadio">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" autocomplete="off" value="All"> All
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" autocomplete="off" value="Comedy"> Comedy
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off" value="Drama" > Drama
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" value="Action"> Action
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" value="Fantasy" > Fantasy
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" value="Animation"> Animation
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" value="Sci-Fi"> Sci-Fi
            </label>      
        </div>
    </form>  
</div>
