<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-register" id="form-register">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required >
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        
            <button id="btnRegisterUser" class="btn btn-lg btn-primary btn-block btn-register" type="button">Register</button>
        </form><!-- /form -->
        <a href="/" class="forgot-password">
            Already have a user?
        </a>
        
    </div><!-- /card-container -->
  </div><!-- /container -->