
<div id="video-container" class="video-container">

</div>
<div class="rating-container">
    <table class="table">
        <thead>
            <th>Ratings</th>
        </thead>
        <tbody>
            <tr class="ratings harrypotter">
                <td>
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="comment-container">
    <span>Comments</span>
    <div class="comments" id="comments">

    </div>
</div>